<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" href="styles/3-header.css">
    <link rel="stylesheet" href="styles/3-footer.css">
    <link rel="stylesheet" href="styles/4-common.css">
    <link rel="stylesheet" href="styles/6-filters.css">
    <title>AirBnB</title>
</head>
<body>
    <header></header>
    <div class="container">
        <section class="filters">
            <div class="locations">
              <h3>States</h3>
                  &nbsp;
                  <ul class="popover">
                    {% for state in states | sort(attribute='name')%}
                    <li> 
                        <h2>{{ state.name}}:</h2>
                        <ul> {% for city in states.cities | sort(attribute='name')%}
                            <li> {{city.name}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor%}
                  </ul>
                </div>
                <div class="amenities">
                  <h3>Amenities</h3>
                  &nbsp;
                  <ul class="popover">
                    {% for amentity in amenities | sort(attribute='name')%}
                    <li> {{amentity.name}}</li>
                    {% endfor%}
                  </ul>
                </div>
            <button>Search</button>
              </section>
    </div>
    <footer>
        Best School
    </footer>
</body>
</html>
